[submodule "clay"]
	path = clay
	url = https://github.com/nicbarker/clay.git
[submodule "mruby"]
	path = mruby
	url = https://github.com/mruby/mruby.git
[submodule "termbox2"]
	path = termbox2
	url = https://github.com/termbox/termbox2.git
